<% if recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(recipe.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%=form_for recipe do |f| %>
<p>
  <%= f.label :name, 'Recipe Name' %>
   <%=f.text_field :name%>
   <p>   <%=f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name)  %>
</p>
 </p>
 <p> <%=f.submit %></p>
 <% end %>

<div>
  <%= link_to "All Ingredients", ingredients_path %>
</div>
